@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*-----------------pagina preguntas frecuentes------------------------*/

.header__question{
    background: rgb(66, 23, 82);
    position:sticky;
    width: 100%;
    height: auto;
    z-index: 100;
    left: 0;
    top: 0;
    
    
}

main{

    .panel__group {
        margin-bottom: 20px;
    }

    .panel panel--pregunta {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

}

.footer{
    background: #fafafa;

    .footer__caption{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-evenly;

        .politicas{
            width: 50%;

            .footer__copy{
                width: 100%;
                color: black;
                display: flex;
                flex-wrap: wrap;
            }
            
            .copyright{
                width: 100%;
            }
            
            .politica__privacidad{
                color: inherit;
                text-decoration: none;
                display: inline-block;
                margin-top: 10px;
            }
            
            .politica__privacidad:hover{
                text-decoration: underline;
            }
            
            .politica__privacidad--margin{
                margin-right: 10px;
            }
            
            @media screen and (max-width:900px){
                .politicas{
                    width: 100%;
                }
            
            }
        }
    
        .social__Media{
            width: 50%;

            .title__footer{
                font-size: 24px;
                margin-bottom: 32px;
            }

            .socialmedia{
                margin-top: 24px;
                display: flex;
                color: black;

                .socialmedia__icon{
                    font-size: 18px;
                    margin-right: 30px;
                    display: inline-block;
                }
            }

            @media screen and (max-width:900px){

                .social__Media{
                    width: 100%;
                    margin-bottom: 40px;
                }
            
                .socialmedia__icon{
                    font-size: 18px;
                }
            
                .socialmedia__legend{
                    font-size: 18px;
                }
            }
            
        }
        
    }

    .contact{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        color: #fff;
      

        .item__contact{
            width: 25%;
            padding: 60px 0;
            text-align: center;
            background: rgb(66, 23, 82);

                .green{
                    background: rgb(8, 165, 8);
                    color: black;
                }
            
            
            .contact__icon{
                font-size: 14px;
                color: rgb(8, 165, 8);
                line-height: 20px;
                margin-right: 4px; 
                    
                    .modifier{
                        color:rgb(66, 23, 82);
                    }
            }
        }

    }

    .container-background{

        .background{
            @media screen and (max-width:900px){
                    width: 52%;

            }
            @media screen and (max-width:700px){
                    width: 65%;
                    margin-bottom: 40px;
                
                    .background__copy{
                        display: none;
                    }
            }

            @media screen and (max-width:500px){
                width: 95%;
            }

        }
    }
    
    
}